
    <div class="interactive interactive-atom">

        <div class="header-wrapper">
            <div class="interactive-wrapper">
                <div class="int-tag">
                    Land clearing
                </div>
                <div class="headline-wrapper">
                    <h1>When the trees gave shade from the noonday sun</h1>
                </div>
                <p class="standfirst">
                    <span>Data investigation using satellite imagery to identify what agricultural land has been affected by land clearing in Australia since 2001.</span>
                </p>
                <div class="img-credit-header">
                    Source: Mike Bowers
                </div>
            </div>
        </div>

        <div class="interactive-wrapper interactive-wrapper--main">

            <div class="int-byline">

                <a href="https://www.theguardian.com/profile/nick-evershed">Nick Evershed</a> and 
                <a href="https://www.theguardian.com/profile/andy-ball">Andy Ball</a> 
                <time class="int-date" data-timestamp="1553842806000" datetime="2019-03-29T07:00:06+0000" itemprop="datePublished">3 October 2019</time>
                <div>
                    <ul class="od-share">
                        <li class="od-share__button od-share__button--facebook">
                            <a href="https://www.facebook.com/dialog/share?app_id=180444840287&amp;href=https%3A%2F%2Fwww.theguardian.com%2Fworld%2Fng-interactive%2F2019%2Fmar%2F29%2Fa-year-of-bloodshed-at-gaza-border-protests%3FCMP%3Dshare_btn_fb"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                            <path d="M32.8 15H30c-2.2 0-2.6 1.1-2.6 2.6V21h5.3l-.7 5.3h-4.6V40h-5.5V26.3h-4.6V21h4.6v-3.9c0-4.6 2.8-7 6.8-7a31.28 31.28 0 0 1 4.1.2V15z"></path></svg></a>
                        </li>
                        <li class="od-share__button od-share__button--twitter">
                            <a href="https://twitter.com/intent/tweet?text=A%20year%20of%20bloodshed%20at%20Gaza%20border%20protests&amp;url=https%3A%2F%2Fwww.theguardian.com%2Fworld%2Fng-interactive%2F2019%2Fmar%2F29%2Fa-year-of-bloodshed-at-gaza-border-protests%3FCMP%3Dshare_btn_tw"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                            <path d="M36 19.3v.7c0 7.5-5.7 16.2-16.2 16.2a15.36 15.36 0 0 1-8.7-2.6 6.15 6.15 0 0 0 1.4.1 11.69 11.69 0 0 0 7.1-2.4 5.58 5.58 0 0 1-5.3-4 3.75 3.75 0 0 0 1.1.1 7.72 7.72 0 0 0 1.5-.2 5.7 5.7 0 0 1-4.6-5.6v-.1a5.59 5.59 0 0 0 2.6.7 5.73 5.73 0 0 1-2.5-4.7 6 6 0 0 1 .8-2.9 16.11 16.11 0 0 0 11.7 5.9 5.7 5.7 0 0 1-.1-1.3 5.7 5.7 0 0 1 5.7-5.7 6 6 0 0 1 4.2 1.8 11.25 11.25 0 0 0 3.6-1.4 6 6 0 0 1-2.5 3.2 9.54 9.54 0 0 0 3.3-.9 15.15 15.15 0 0 1-3.1 3.1z"></path></svg></a>
                        </li>
                        <li class="od-share__button od-share__button--email">
                            <a href="mailto:?subject=A%20year%20of%20bloodshed%20at%20Gaza%20border%20protests&amp;body=https%3A%2F%2Fwww.theguardian.com%2Fworld%2Fng-interactive%2F2019%2Fmar%2F29%2Fa-year-of-bloodshed-at-gaza-border-protests%3FCMP%3Dshare_btn_link"><svg class="od-share__icon" viewbox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                            <path d="M34.3 22.3l-.6-.6-8.5 4-8.6-4-.4.6 9 7.4c-.1 0 9.1-7.4 9.1-7.4zm1.8-7.1H13.8L11.5 19v13.9l2.4 1.8h22.4l2.2-1.8V19l-2.4-3.8zm-.8 16.2H14.6V18.5h20.7v12.9z"></path></svg></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget venenatis est. Quisque ligula velit, congue vel felis vitae, aliquet ultrices dui. Etiam tincidunt ex quis ultrices hendrerit. Praesent interdum mauris quis mauris luctus blandit. Praesent eu congue diam. Pellentesque in felis a urna sollicitudin pellentesque. Mauris pretium a arcu eu tincidunt. Proin eget erat quis turpis aliquam posuere eget in nisl. Mauris libero tellus, porta feugiat sodales eget, facilisis eget risus. Vestibulum orci velit, volutpat sit amet augue vel, commodo condimentum diam.</p>
            
            <p>Pellentesque pretium varius purus, ut feugiat felis euismod vel. Quisque lobortis turpis quam, eu consequat velit accumsan eget. Mauris vitae lacus erat. Aliquam erat volutpat. Duis lacinia velit ac neque tincidunt consectetur. Aliquam erat volutpat. Vivamus libero augue, tristique ac leo eu, blandit molestie augue. Proin risus sem, commodo vitae quam ultricies, accumsan aliquet lacus.</p>

            <p>Nunc lacus ante, lacinia et sem in, fermentum scelerisque sem. Suspendisse nec ipsum non magna viverra posuere et ac magna. Cras molestie neque nec quam condimentum, in rutrum eros dignissim. Mauris sed quam nec libero porttitor tincidunt. Praesent ante velit, fringilla sit amet nulla ut, fermentum hendrerit massa. Duis erat dolor, mattis sed euismod nec, auctor in risus. Donec eget erat viverra nibh pharetra sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

            <div class="inline-image">
                <img src="https://interactive.guim.co.uk/embed/aus/2018/feb/mdb-multimedia/images/1600/bourke-walgett1.jpg">
            </div>

            <div class="inline-image-credit">
                Source: Mike Bowers
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget venenatis est. Quisque ligula velit, congue vel felis vitae, aliquet ultrices dui. Etiam tincidunt ex quis ultrices hendrerit. Praesent interdum mauris quis mauris luctus blandit. Praesent eu congue diam. Pellentesque in felis a urna sollicitudin pellentesque. Mauris pretium a arcu eu tincidunt. Proin eget erat quis turpis aliquam posuere eget in nisl. Mauris libero tellus, porta feugiat sodales eget, facilisis eget risus. Vestibulum orci velit, volutpat sit amet augue vel, commodo condimentum diam.</p>
            
            <p>Pellentesque pretium varius purus, ut feugiat felis euismod vel. Quisque lobortis turpis quam, eu consequat velit accumsan eget. Mauris vitae lacus erat. Aliquam erat volutpat. Duis lacinia velit ac neque tincidunt consectetur. Aliquam erat volutpat. Vivamus libero augue, tristique ac leo eu, blandit molestie augue. Proin risus sem, commodo vitae quam ultricies, accumsan aliquet lacus.</p>

            <p>Nunc lacus ante, lacinia et sem in, fermentum scelerisque sem. Suspendisse nec ipsum non magna viverra posuere et ac magna. Cras molestie neque nec quam condimentum, in rutrum eros dignissim. Mauris sed quam nec libero porttitor tincidunt. Praesent ante velit, fringilla sit amet nulla ut, fermentum hendrerit massa. Duis erat dolor, mattis sed euismod nec, auctor in risus. Donec eget erat viverra nibh pharetra sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>


        </div>

    </div>

    <div id="scrolly-1">

        <div class="scroll-wrapper">

            <div class="scroll-inner">
                <div id="infobox"></div>
                <div id="data-viz"></div>
                <div id="land-clearing">
                    <div id="land-cleared"></div>
                    <div id="land-clearing-mask"></div>
                </div>
            </div>
            <div class="scroll-text">
                <div class="scroll-text__inner"></div>
                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>2</p>
                    </div>
                </div>
                <div class="scroll-text__inner">
                    <div class="scroll-text__div">
                        <p>Land clearing from 2001 to 2018</p>
                    </div>
                </div>
                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>4</p>
                    </div>
                </div>
                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>5</p>
                    </div>
                </div>
                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>6</p>
                    </div>
                </div>
                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>7</p>
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>8</p>
                    </div>
                </div>

                <div class="scroll-text__inner">
                    <div class="scroll-text__div"> 
                        <p>9</p>
                    </div>
                </div>

                <div class="scroll-text__inner"></div>
                
            </div>

        </div>

    </div>

    <div class="interactive interactive-atom">

        <div class="interactive-wrapper interactive-wrapper--main">

            <div class="full-width-image">
                <img src="https://interactive.guim.co.uk/embed/aus/2018/feb/mdb-multimedia/images/1600/cubbie-2.jpg">
            </div>

            <div class="full-width-image-credit">
                Source: Mike Bowers
            </div>


            <h2>The last word</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget venenatis est. Quisque ligula velit, congue vel felis vitae, aliquet ultrices dui. Etiam tincidunt ex quis ultrices hendrerit. Praesent interdum mauris quis mauris luctus blandit. Praesent eu congue diam. Pellentesque in felis a urna sollicitudin pellentesque. Mauris pretium a arcu eu tincidunt. Proin eget erat quis turpis aliquam posuere eget in nisl. Mauris libero tellus, porta feugiat sodales eget, facilisis eget risus. Vestibulum orci velit, volutpat sit amet augue vel, commodo condimentum diam.</p>
            
            <p>Pellentesque pretium varius purus, ut feugiat felis euismod vel. Quisque lobortis turpis quam, eu consequat velit accumsan eget. Mauris vitae lacus erat. Aliquam erat volutpat. Duis lacinia velit ac neque tincidunt consectetur. Aliquam erat volutpat. Vivamus libero augue, tristique ac leo eu, blandit molestie augue. Proin risus sem, commodo vitae quam ultricies, accumsan aliquet lacus.</p>

            <p>Nunc lacus ante, lacinia et sem in, fermentum scelerisque sem. Suspendisse nec ipsum non magna viverra posuere et ac magna. Cras molestie neque nec quam condimentum, in rutrum eros dignissim. Mauris sed quam nec libero porttitor tincidunt. Praesent ante velit, fringilla sit amet nulla ut, fermentum hendrerit massa. Duis erat dolor, mattis sed euismod nec, auctor in risus. Donec eget erat viverra nibh pharetra sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>


            <div class="medium-image">
                <img src="https://interactive.guim.co.uk/embed/aus/2018/feb/mdb-multimedia/images/1600/bourke-walgett2.jpg">
            </div>

            <div class="medium-image-credit">
                Source: Mike Bowers
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget venenatis est. Quisque ligula velit, congue vel felis vitae, aliquet ultrices dui. Etiam tincidunt ex quis ultrices hendrerit. Praesent interdum mauris quis mauris luctus blandit. Praesent eu congue diam. Pellentesque in felis a urna sollicitudin pellentesque. Mauris pretium a arcu eu tincidunt. Proin eget erat quis turpis aliquam posuere eget in nisl. Mauris libero tellus, porta feugiat sodales eget, facilisis eget risus. Vestibulum orci velit, volutpat sit amet augue vel, commodo condimentum diam.</p>
            
            <p>Pellentesque pretium varius purus, ut feugiat felis euismod vel. Quisque lobortis turpis quam, eu consequat velit accumsan eget. Mauris vitae lacus erat. Aliquam erat volutpat. Duis lacinia velit ac neque tincidunt consectetur. Aliquam erat volutpat. Vivamus libero augue, tristique ac leo eu, blandit molestie augue. Proin risus sem, commodo vitae quam ultricies, accumsan aliquet lacus.</p>

            <p>Nunc lacus ante, lacinia et sem in, fermentum scelerisque sem. Suspendisse nec ipsum non magna viverra posuere et ac magna. Cras molestie neque nec quam condimentum, in rutrum eros dignissim. Mauris sed quam nec libero porttitor tincidunt. Praesent ante velit, fringilla sit amet nulla ut, fermentum hendrerit massa. Duis erat dolor, mattis sed euismod nec, auctor in risus. Donec eget erat viverra nibh pharetra sagittis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            

        </div>
    </div>
